<div id="chat_list_container" class="ms-3">
    <div role="tabpanel">
        <!-- List group -->
        <div class="list-group" id="myList" role="tablist">
            <div class="list-group-item list-group-item-action active" data-bs-toggle="list" href="#home" role="tab">Home</div>
        </div>
    </div>
</div>
<div id="chat_messages_container" class="ms-3 d-flex flex-column">
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="home" role="tabpanel">a...</div>
        <div id="messages_container">message</div>
        <form id="message_form">
            <div class="input-group mb-3">
                <input id="message_input" type="text" class="form-control text-white" placeholder="Type a message to..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button id="send_message_btn" class="btn btn-secondary" type="submit">Send <i class="fa-solid fa-chevron-right"></i></button>
              </div>
        </form>
    </div>
</div>