<div role="tabpanel" id="chat_friend_list" class="p-2">
    <!-- List group -->
    <div id="chat_list_group" class="list-group" role="tablist">
        <!-- Friend list rows -->
    </div>
</div>
<!-- Tab panels -->
<div id="chat_tab_content" class="tab-content">
    <div class="tab-pane" id="home" role="tabpanel">
        <div id="chat_container" class="d-flex flex-column justify-content-between ms-3 p-2">
            <div id="chat-bubbles" class="d-flex flex-column pb-2">
                 <span id="chat-date" class="m-2 small mx-auto">Sun 13:42</span> 
                <div id="messages_container" class="d-flex flex-column justify-content-between p-2"></div>
            </div>
            <div class="chat-input">
                <form id="message_form" class="mb-1">
                    <div class="input-group">
                        <input id="message_input" type="text" class="form-control text-white"
                            placeholder="Type a message..." aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button id="send_message_btn" class="btn btn-secondary" type="submit">Send <i
                                class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>