<div role="tabpanel" id="chat_friend_list" class="p-2">
    <!-- List group -->
    <div id="chat_list_group" class="list-group" role="tablist">
        <!-- list-group must be active on click -->
        <!-- <div class="list-group-item list-group-item-action" data-bs-toggle="list" href="#home" role="tab">
            <div class="d-flex justify-content-between align-items-center">
                <div class="user-avatar">
                    <img id="friend_list_avatar" class="me-1" src="assets/users/uploads/" alt="user-row-avatar" />
                    <img id="friend_list_avatar" class="me-1" src="assets/users/default/default_user_avatar.jpg" alt="user-row-avatar" />
                </div>
                <div class="user-chat px-2 me-2 py-2 py-md-0">
                    <p id="friend_list_username" class="m-0 mb-1">username</p>
                    <p id="last_message" class="small m-0">You: last msg</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
<!-- Tab panels -->
<div id="chat_tab_content" class="tab-content">
    <!-- tab-pane must be active on click -->
    <div class="tab-pane" id="home" role="tabpanel">
        <div id="chat_container" class="d-flex flex-column justify-content-between ms-3 p-2">
            <div id="chat-bubbles" class="d-flex flex-column pb-2">
                <!-- <span id="chat-date" class="m-2 small mx-auto">Sun 13:42</span> -->
                <div id="messages_container" class="d-flex flex-column justify-content-between p-2"></div>
            </div>
            <div class="chat-input">
                <form id="message_form" class="mb-1">
                    <div class="input-group">
                        <input id="message_input" type="text" class="form-control text-white"
                            placeholder="Type a message..." aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <button id="send_message_btn" class="btn btn-secondary" type="submit">Send <i
                                class="fa-solid fa-chevron-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>