<div id="notifications_tab" class="p-2 pt-0 mx-auto">
    <div id="tab_title" class="p-1 d-flex justify-content-center">
        <h5 class="m-1">Notifications</h5>
    </div>
    <!-- Notifications section -->
</div>