<div id="user_details" class="d-flex flex-column align-items-center bg-dark p-4">
  <div class="user-details-avatar">
  <img id="user_details_avatar"
  src="assets/users/uploads/<% if(user.avatar != "" || null || undefined){ %><%= user.avatar
  %> <% } else { %><%= user.defaultAvatar %><% } %>"
  alt="user-row-avatar" />
  </div>
  <div id="user_details_username" class="user-details-username pt-2 pb-1"> 
  <p class="m-0">Username Placeholder</p>
  </div>
  <div class="user-details-description w-85 pb-3">
    <p class="m-0 small text-break text-center">Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="user-details-actions">
    <button
        type="button"
        class="btn btn-secondary"
        >
        <i class="fa-solid fa-message me-1"></i>
        Message
      </button>
  </div>
</div>
