<!-- <footer
  id="footer"
  class="footer bg-light small text-center text-dark p-1 d-flex flex-column align-items-center justify-content-center flex-lg-row"
>
  <img
    src="assets/logo/mooncloud_logo.png"
    alt="Logo"
    width="16"
    height="16"
    class="d-inline-block mb-2 me-0 mb-lg-0 me-lg-2"
  />
  <a class="navbar-brand" href="/">
    <strong>&copy; 2023 Copyright: Mooncloud Messages</strong>
  </a>
</footer> -->
