<footer
  class="footer bg-light text-center text-dark p-2 d-flex flex-column align-items-center justify-content-center flex-lg-row"
>
  <img
    src="assets/logo/mooncloud_logo.png"
    alt="Logo"
    width="34"
    height="34"
    class="d-inline-block mb-2 me-0 mb-lg-0 me-lg-2"
  />
  <a class="navbar-brand" href="/">
    <strong>&copy; 2023 Copyright: <u>Mooncloud Messages</u></strong>
  </a>
</footer>
