<div class="modal fade" id="remove_profile_modal" aria-hidden="true" aria-labelledby="remove_profile_modal" tabindex="-1"
    data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-light border-2">
            <div class="modal-header p-2 px-3 bg-light">
                <div class="logo">
                    <img src="assets/logo/mooncloud_logo_128x128.png" alt="Logo" width="34" height="34"
                        class="d-inline-block" />
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
            </div>
        </div>
    </div>
</div>