<div class="modal fade" id="password_change_modal" aria-hidden="true" aria-labelledby="password_change_modal"
    tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-light border-2">
            <div class="modal-header p-2 px-3 bg-light">
                <div class="logo">
                    <img src="assets/logo/mooncloud_logo.png" alt="Logo" width="34" height="34"
                        class="d-inline-block" />
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="password_change_title">
                    <h4>Password change</h4>
                </div>
                <div class="password-input-form">
                    <div class="input-group mb-1">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder="Password" id="old_password"
                                name="old_password" required />
                            <label for="old_password">Password</label>
                            <span class="invalid-tooltip">
                                Please enter your password
                            </span>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder="Password" id="password"
                                name="password" required />
                            <label for="password">Password</label>
                            <span class="invalid-tooltip">
                                Please enter your password
                            </span>
                        </div>
                        <span class="input-group-text">
                            <i id="show_password" class="fa-solid fa-eye"></i>
                        </span>
                        <span class="input-group-text" id="change_password_popover" data-bs-container="body"
                            data-bs-toggle="popover" data-bs-placement="right"
                            data-bs-content="Password must be at least 6 characters long, including one uppercase letter, number and a sign.">
                            <i class="fa-regular fa-circle-question"></i>
                        </span>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text"><i class="fa-solid fa-lock"></i></i></span>
                        <div class="form-floating">
                            <input type="password" class="form-control" placeholder="Repeat password"
                                id="confirm_password" name="confirm_password" />
                            <label for="confirm_password">Repeat Password</label>
                            <span class="invalid-tooltip">
                                Please repeat your current password
                            </span>
                        </div>
                    </div>
                    <div class="pb-2">
                        <p id="confirm_password_error_msg" class="m-0 small text-warning"></p>
                        <p id="confirm_password_success_msg" class="m-0 small text-success"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>